.header {
    background-color: var(--bgColor-secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 20px;

    &-app {
        font-size: 16px;
        line-height: 20px;
        color: var(--text-color);
        .btn{
            min-height: 40px;
        }
        .connected{
            width: 20px;
            height: 20px;
        }
        label {
            font-weight: 600;
            margin-right: 5px;
            color: #404040;
        }
    }

    &-base {
        .btn {
            min-width: 215px;

            @media only screen and (max-width: 500px) {
                min-width: 115px;
            }
        }
    }
}

.footer {
    border-top: 1px solid var(--border-color);
    padding: 16px 0;

    p {
        margin: 0;
        font-size: 14px;
        line-height: 20px;
    }
}

.home {
    min-height: calc(100vh - 190px);
    display: flex;
    align-items: center;
    &-dashboard{
        &-list{
            p{
            font-size: 16px;
            line-height: 22px;
        }
        }
    }
    .btn-baselay {
        max-width: 295px;
        width: 100%;
    }

    h1 {
        font-size: 80px;
        font-weight: 600;
        line-height: 88px;
        text-transform: uppercase;

        @media only screen and (max-width: 998px) {
            font-size: 60px;
            line-height: 70px;
        }

        @media only screen and (max-width: 500px) {
            font-size: 50px;
            line-height: 60px;
        }

    }

    p {
        font-size: 32px;
        line-height: 40px;
        margin: 0;

        @media only screen and (max-width: 998px) {
            font-size: 20px;
            line-height: 35px;
        }
    }
}

.btn-baselay {
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}