@font-face {
  font-family: "Century Gothic";
  src: url("../assets/fonts/CenturyGothic.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../assets/fonts/CenturyGothicBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
