@import './font.scss';
@import './base/base.scss';

body {
  background-color: var(--bgColor);
}

.main {
  display: flex;
  min-height: 100vh;

  &__wrapper {
    &__content {
      padding: 20px;
      min-height: calc(100vh - 72px);
    }
  }
}

.sidebar {
  min-height: 100vh;
  background-color: var(--bgColor-secondary);
  position: fixed;
  padding: 20px;
  border-right: 2px solid var(--bgColor);

  h5 {
    font-size: 22px;
    color: var(--text-color);
  }

  &__content {
    &__label {
      text-transform: uppercase;
      color: #6f6f6f;
      font-size: 13px;
      padding: 13px 0;
    }

    &__item {

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        width: 100%;
        color: var(--text-color);
        padding: 10px;
        border-radius: 5px;

        &.active {
          color: var(--white);
          background-color: var(--primary);

          span {
            svg {
              path {
                stroke: var(--white);
              }
            }
          }
        }
      }

      label {
        margin-left: 5px;
      }

      span {
        width: 25px;
        height: 25px;

        svg {
          width: 25px;
          height: 25px;

          path {
            stroke: #a3a3a3;
          }
        }
      }
    }
  }
}

.header {
  background-color: var(--bgColor-secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  &__mode {
    display: flex;
    align-items: center;
    color: var(--text-color);

    .switch {
      margin-left: 5px;
    }
  }

  h4 {
    font-size: 26px;
    color: var(--text-color);
  }
}

.card {
  background-color: var(--bgColor-secondary);
  border-radius: 20px;
  box-shadow: unset;
  padding: 10px;
  &__count{
    label{
      font-size: 16px;
      color: var(--text-color);
    }
    h5{
      font-size: 20px;
      padding: 10px 0px;
      color: var(--text-color);
    }
  }
  &__head {
    h4 {
      font-size: 20px;
      font-weight: 500;
      padding-top: 10px;
      margin-bottom: 20px;
      color: var(--text-color);
    }
  }
}

.table {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;

    &__count {
      background-color: transparent;
      border: 0px;
      margin: 0px 4px;
      padding: 0px 6px;
    }

    &__ico {
      background-color: transparent;
      border: 0;
      width: 20px;
      height: 20px;

      &:disabled {
        svg {
          path {
            stroke: #616161;
          }
        }
      }

      svg {
        path {
          stroke: var(--primary);
        }

        width: 20px;
        height: 20px;
      }
    }

    &__next {
      transform: rotate(-180deg);
    }
  }

  th {
    background-color: var(--bgColor);
    font-weight: normal;
    font-size: 15px;
    padding: 10px;
    text-align: left;
    color: var(--text-color);

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }
  }

  td {
    border-bottom: 1px solid var(--bgColor);
    padding: 15px 10px;
    font-size: 14px;
    color: var(--text-color);
  }
}

.badge {
  border-radius: 5px;
  padding: 3px 5px;
  text-align: center;
  font-size: 14px;

  &-gray {
    background-color: var(--bgColor);
  }

  &-primary {
    background-color: rgba(46, 96, 212, 0.223);
    color: var(--primary);
  }

  &-danger {
    background-color: rgba(255, 158, 128, 0.223);
    color: var(--danger);
  }
}

.switch {
  input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    position: relative;
    background-color: #bdbdbd;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: all 0.7s ease;
  }

  input[type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 20px;
    transform: scale(0.8);
    transition: all 0.7s ease;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  input[type="checkbox"]:checked::before {
    background-color: #fff;
    left: 30px;
  }

  input[type="checkbox"]:checked {
    background-color: var(--primary);
  }

}